openapi: 3.1.0
servers:
  - url: https://inspector.duckarchive.com
    description: Production server
info:
  title: inspector.duckarchive.com API
  version: 1.4.0
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /api/search:
    post:
      summary: Search
      description: Пошук справ за реквізитами
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                a:
                  type: string
                  description: Archive code
                f:
                  type: string
                  description: Fund code
                d:
                  type: string
                  description: Description code
                c:
                  type: string
                  description: Case code
                isStrict:
                  type: boolean
                  description: Whether to use strict matching
      responses:
        "200":
          description: Search results found
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                    description: Total number of matches found
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        archive_code:
                          type: string
                        fund_code:
                          type: string
                        description_code:
                          type: string
                        case_code:
                          type: string
                        url:
                          type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: No matches found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/archives/{archive-code}:
    get:
      summary: Get Archive
      description: Отримати дані про архів та список дочірніх фондів
      parameters:
        - name: archive-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the archive to retrieve
      responses:
        "200":
          description: Archive found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  code:
                    type: string
                  title:
                    type: string
                  funds:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        code:
                          type: string
                        title:
                          type: string
                        matches:
                          type: array
                          items:
                            type: object
                            properties:
                              updated_at:
                                type: string
                                format: date-time
                              children_count:
                                type: integer
                              resource_id:
                                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Archive not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/archives/{archive-code}/{fund-code}:
    get:
      summary: Get Fund
      description: Отримати дані про фонд та список дочірніх описів
      parameters:
        - name: archive-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the archive
        - name: fund-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the fund to retrieve
      responses:
        "200":
          description: Fund found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  code:
                    type: string
                  title:
                    type: string
                  descriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        code:
                          type: string
                        title:
                          type: string
                        matches:
                          type: array
                          items:
                            type: object
                            properties:
                              updated_at:
                                type: string
                                format: date-time
                              children_count:
                                type: integer
                              resource_id:
                                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Fund not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/archives/{archive-code}/{fund-code}/{description-code}:
    get:
      summary: Get Description
      description: Отримати дані про опис та список дочірніх справ
      parameters:
        - name: archive-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the archive
        - name: fund-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the fund
        - name: description-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the description to retrieve
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Page number for pagination (0-based)
      responses:
        "200":
          description: Description found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  code:
                    type: string
                  title:
                    type: string
                  cases:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        code:
                          type: string
                        title:
                          type: string
                        matches:
                          type: array
                          items:
                            type: object
                            properties:
                              updated_at:
                                type: string
                                format: date-time
                              children_count:
                                type: integer
                              resource_id:
                                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Description not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/archives/{archive-code}/{fund-code}/{description-code}/{case-code}:
    get:
      summary: Get Case
      description: Отримати дані про справу та список посилань на онлайн джерела
      parameters:
        - name: archive-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the archive
        - name: fund-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the fund
        - name: description-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the description
        - name: case-code
          in: path
          required: true
          schema:
            type: string
          description: The code of the case to retrieve
      responses:
        "200":
          description: Case found
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        full_code:
                          type: string
                        url:
                          type: string
                        updated_at:
                          type: string
                          format: date-time
                        children_count:
                          type: integer
                        resource_id:
                          type: string
                        api_params:
                          type: string
                        archive_id:
                          type: string
                        fund_id:
                          type: string
                        description_id:
                          type: string
                        case_id:
                          type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Case not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/availability/code:
    post:
      security:
        - bearerAuth: []
      summary:  Get Availability by code
      description: Перевірка доступності справ за списком реквізитів
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_codes:
                  type: array
                  items:
                    type: string
                    description: The full code for case
      responses:
        "200":
          description: Availability found
          content:
            application/json:
              schema:
                type: array
                items:
                  type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Availability not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/availability/dgs:
    post:
      security:
        - bearerAuth: []
      summary: Get Availability by DGS
      description: Перевірка належності DGS до НАФ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dgs:
                  type: string
                  description: The DGS code to check availability
      responses:
        "200":
          description: DGS availability found
          content:
            application/json:
              schema:
                type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: No DGS matches found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/availability/report-dgs:
    post:
      security:
        - bearerAuth: []
      summary: Report DGS Availability
      description: Запит на ручну перевірку належності DGS до НАФ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dgs:
                  type: string
                  description: The DGS code to report
      responses:
        "200":
          description: DGS report successful
          content:
            application/json:
              schema:
                type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: No DGS matches found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/sync/familysearch/place:
    get:
      security:
        - bearerAuth: []
      summary: Get FamilySearch Places
      description: ADMIN ONLY
      responses:
        "200":
          description: FamilySearch places retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    total_count:
                      type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    patch:
      security:
        - bearerAuth: []
      summary: Update FamilySearch Places
      description: ADMIN ONLY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                places:
                  type: object
                  additionalProperties:
                    type: integer
      responses:
        "200":
          description: FamilySearch places updated successfully
          content:
            application/json:
              schema:
                type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/sync/familysearch/project:
    get:
      security:
        - bearerAuth: []
      summary: Get FamilySearch Projects
      description: ADMIN ONLY
      responses:
        "200":
          description: FamilySearch projects retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    children_count:
                      type: integer
                    prev_children_count:
                      type: integer
                    updated_at:
                      type: string
                      format: date-time
                    synced_at:
                      type: string
                      format: date-time
                    archive:
                      type: object
                      properties:
                        id:
                          type: string
                        code:
                          type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    post:
      security:
        - bearerAuth: []
      summary: Create FamilySearch Projects
      description: ADMIN ONLY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projects:
                  type: object
                  additionalProperties:
                    type: integer
      responses:
        "200":
          description: FamilySearch projects created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    children_count:
                      type: integer
                    prev_children_count:
                      type: integer
                    updated_at:
                      type: string
                      format: date-time
                    synced_at:
                      type: string
                      format: date-time
                    archive:
                      type: object
                      properties:
                        id:
                          type: string
                        code:
                          type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    patch:
      security:
        - bearerAuth: []
      summary: Update FamilySearch Projects
      description: ADMIN ONLY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projects:
                  type: object
                  additionalProperties:
                    type: integer
      responses:
        "200":
          description: FamilySearch projects updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    children_count:
                      type: integer
                    prev_children_count:
                      type: integer
                    updated_at:
                      type: string
                      format: date-time
                    synced_at:
                      type: string
                      format: date-time
                    archive:
                      type: object
                      properties:
                        id:
                          type: string
                        code:
                          type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /api/auth/signin:
    get:
      summary: Sign In Page
      description: Displays the built-in sign-in page
      responses:
        "200":
          description: Sign-in page displayed
          content:
            text/html:
              schema:
                type: string
        "302":
          description: Redirect to custom sign-in page if configured
  /api/auth/signin/google:
    post:
      summary: Google OAuth Sign In
      description: Initiates Google OAuth sign-in flow
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrfToken:
                  type: string
                  description: CSRF token from /api/auth/csrf
      responses:
        "302":
          description: Redirect to Google OAuth authorization
        "400":
          description: Bad Request - missing CSRF token
        "500":
          description: Internal Server Error
  /api/auth/callback/google:
    get:
      summary: Google OAuth Callback
      description: Handles the callback from Google OAuth provider
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: Authorization code from Google
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: State parameter for CSRF protection
      responses:
        "302":
          description: Redirect after successful authentication
        "400":
          description: Bad Request - invalid state or code
        "500":
          description: Internal Server Error
    post:
      summary: Google OAuth Callback
      description: Handles the callback from Google OAuth provider
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Authorization code from Google
                state:
                  type: string
                  description: State parameter for CSRF protection
      responses:
        "302":
          description: Redirect after successful authentication
        "400":
          description: Bad Request - invalid state or code
        "500":
          description: Internal Server Error
  /api/auth/signout:
    get:
      summary: Sign Out Page
      description: Displays the built-in sign-out page
      responses:
        "200":
          description: Sign-out page displayed
          content:
            text/html:
              schema:
                type: string
        "302":
          description: Redirect to custom sign-out page if configured
    post:
      summary: Sign Out
      description: Signs out the current user
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                csrfToken:
                  type: string
                  description: CSRF token from /api/auth/csrf
      responses:
        "302":
          description: Redirect after successful sign-out
        "400":
          description: Bad Request - missing CSRF token
        "500":
          description: Internal Server Error
  /api/auth/session:
    get:
      summary: Get Session
      description: Returns the current user session
      responses:
        "200":
          description: Session data
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                      image:
                        type: string
                  expires:
                    type: string
                    format: date-time
                  accessToken:
                    type: string
                    description: Google access token
        "404":
          description: No session found
          content:
            application/json:
              schema:
                type: object
  /api/auth/csrf:
    get:
      summary: Get CSRF Token
      description: Returns a CSRF token for form submissions
      responses:
        "200":
          description: CSRF token
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrfToken:
                    type: string
                    description: CSRF token to include in POST requests
  /api/auth/providers:
    get:
      summary: Get Providers
      description: Returns list of configured authentication providers
      responses:
        "200":
          description: List of providers
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    type:
                      type: string
                    signinUrl:
                      type: string
                    callbackUrl:
                      type: string
