@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-cell {
  display: flex;
  align-items: center;
}

.ag-cell-wrapper > .ag-cell-value > *, .ag-cell-wrapper > .ag-cell-value {
  font-size: 14px;
  line-height: 1.1;
}

@media (max-width: theme('screens.md')) {
  .ag-paging-panel {
    justify-content: center!important;
  }
  .ag-paging-panel .ag-paging-page-size {
    display: none;
  }
  .ag-paging-panel .ag-paging-row-summary-panel {
    display: none;
  }
}
